/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    background-color: #FFFFFF;
    margin: 2em
}

h1 {
    width: 100%;
    background-color: #F6F908;
    text-align: center;
    border-radius: 10px;
    }

nav {
    width: 20%;
    height: 100%;
    float: left;
    background-color: #F95708;
    border-radius: 10px;
    color: #FFFFFF
}

h3 {
    text-align: center;
}

nav a {text-decoration: none;}
nav a:link { color: #FFFFFF; }
nav a:visited { color: #FFFFFF; }
nav a:active { color: #FFFFFF; }
nav a:hover {color: #FFFFFF; font-weight: 600; }

main {
    width: 80%;
    text-align: justify;
    display: inline-block;
    background-color: #DAF0BB;
    border-radius: 10px;
}

article {
    background-color: #BBF0EE;
    border-radius: 10px;
    margin: 5%;
}

h2 {
    background-color: #EFC9F4;
    border-radius: 10px;
    text-align: left;
    margin: 5%;
}

#timepublish {
    background-color: #B9F6DE;
    border-radius: 10px;
    text-align: left;
    margin: 5%;
}

article footer {
    background-color: #EDCE53;
    border-radius: 10px;
    text-align: left;
}

div article {
    background-color: #AFF09B;
    border-radius: 10px;
    text-align: left;
    margin: 5%;
}

div article time {
    background-color: #F6B5F8;
    border-radius: 10px;
}

footer {
    width: 100%;
    display: block;
    text-align: center;
    background-color: #EFBBF0;
    border-radius: 10px;
}






/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}